html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 0 !important;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

.clear,
.clear::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.button {
  background-color: #a61206;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: auto;
  border-radius: 8px;
  color: #fff;
  padding: 15px 80px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.primary {
  background-color: #a61206;
  transition: background-color .5s ease;
}

.primary:hover {
  background-color: #c7372a;
}

.secondary {
  background-color: #f19f30;
  transition: background-color .5s ease;
}

.secondary:hover {
  background-color: #df8910;
}

/* header */

header.site-header {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 30px;
}

.logo {
  text-align: center;
}

.logo img {
  height: 200px;
}

.address {
  display: block;
  clear: both;
  padding-top: 10px;
}

.address p {
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
  header.site-header .container {
    position: relative;
  }
  header.site-header .contact-info {
    position: absolute;
    top: 0;
    right: 0;
  }
  .address p {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    text-align: center;
  }
}

/* social menu */

nav.social-links ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav.social-links ul li {
  position: relative;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  nav.socials ul {
    float: right;
  }
}

nav.social-links a {
  text-decoration: none;
}

nav.social-links a:before {
  font-family: "Font Awesome 5 Brands";
  display: inline-block;
  color: black;
  vertical-align: top;
  padding: 0 5px;
  font-size: 30px;
}

nav.site-nav ul li.current_page_item a,
.single-specialties nav.site-nav ul li.menu-item-31 {
  border-bottom: 5px solid #a61206;
}

nav.social-links ul li a[href*="facebook.com"]:before {
  content: "\f082";
}

nav.social-links ul li a[href*="youtube.com"]:before {
  content: "\f167";
}

nav.social-links ul li a[href*="twitter.com"]:before {
  content: "\f099";
}

nav.social-links ul li a[href*="pinterest.com"]:before {
  content: "\f0d2";
}

nav.social-links ul li a[href*="instagram.com"]:before {
  content: "\f16d";
}

.sr-text,
.screen-reader-text {
  display: none;
}

/* main menu */

nav.site-nav {
  display: none;
}

nav.site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
}

nav.site-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  display: block;
}

@media only screen and (min-width: 768px) {
  nav.site-nav ul li {
    display: table-cell;
    width: 1%;
  }
  nav.site-nav {
    display: block;
  }
}

/*responsive menu button */

@media only screen and (max-width: 768px) {
  .mobile-menu a {
    height: 40px;
    background-color: #a61206;
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/** hero **/

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 450px;
  display: table;
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.hero-content {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  z-index: 2;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    width: 80%;
    margin: 0 auto;
  }
  .main-content {
    margin-top: -90px;
  }
}

@media only screen and (min-width: 992px) {
  .hero-text {
    width: 60%;
    margin: 0 auto;
  }
}

.main-content {
  padding: 60px;
  background-color: #fff;
  position: relative;
}

.content-text p {
  font-size: 18px;
  line-height: 50px;
}

/** about us **/

.box-information .box {
  text-align: center;
  width: 100%;
  color: #fff;
}

.box-information .box img {
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .box-information .box {
    width: 50%;
    float: left;
  }
  .box-information .box:last-child {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .box-information .box,
  .box-information .box:last-child {
    width: 33%;
  }
}

.box-information .box:nth-child(1) {
  background-color: #f19f30;
}

.box-information .box:nth-child(2) {
  background-color: #127427;
}

.box-information .box:nth-child(3) {
  background-color: #a61206;
}

.box-information .box h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
}

.box .content-box {
  padding: 10px;
  vertical-align: middle;
  display: table-cell;
  margin-top: 0;
}

.box .content-box p {
  margin-bottom: 0;
}

/* footer */

footer {
  margin-top: 30px;
  padding: 30 0;
  border-top: 1px solid #c1c1c1;
  text-align: center;
}

footer nav ul {
  list-style: none;
  padding-left: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li:last-child .separator {
  display: none;
}

footer nav ul li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

footer .location {
  margin-top: 30px;
}

footer p {
  margin: 0 0 5px 0;
  font-size: 14px;
}

/* grid */

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .container-grid {
    margin-left: -10px;
    margin-right: -10px;
  }
  .container-grid::after {
    content: "";
    display: block;
    clear: both;
  }
  [class*="columns"] {
    padding: 0 10px;
    float: left;
  }
  .columns1-4 {
    width: 25%;
  }
  .columns2-4 {
    width: 50%;
  }
  .columns3-4 {
    width: 75%;
  }
  .columns1-4 {
    width: 25%;
  }
  .columns1-3 {
    width: 33.3%;
  }
  .columns2-3 {
    width: 66.6%;
  }
}

.primary-text {
  color: #a61206;
}

.our-specialties {
  padding: 0 60px;
}

.menu-specialty {
  padding: 20px;
}

.menu-specialty a {
  color: #000;
  text-decoration: none;
}

.menu-specialty h4 {
  border-bottom: 1px solid #c1c1c1;
  padding: 15px 0;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.menu-specialty h4 span {
  float: right;
  color: #f19f30;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans";
}

.menu-specialty p {
  color: #3d3d3d;
  line-height: 30px;
}

/* single specialty template */

.single-specialties p {
  text-align: center;
}

.single-specialties p.ingredients,
.single-specialties p.price {
  color: #a61206;
  font-size: 30px;
  margin: 0;
}

.single-specialties p.price span {
  color: #000;
}

/* blog */

article.entry {
  margin-top: 30px;
}

header.entry-header {
  margin-top: 20px;
}

header.entry-header .date,
.entry-information .date {
  background-color: #f19f30;
  float: left;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 12px;
  margin-right: 20px;
}

header.entry-header .date time,
.entry-information .date time {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

header.entry-header .date time span,
.entry-information .date time span {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
}

header.entry-header .entry-title {
  float: right;
  width: calc(100% - 90px);
}

header.entry-header h2 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700px;
}

header.entry-header p.author,
.entry-information p.author {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.entry-information p.author {
  display: inline;
  margin-top: 30px;
}

.entry-information {
  padding-top: 30px;
}

header.entry-header p i,
p.author i {
  color: #f19f30;
  font-size: 30px;
}

.entry-content p {
  margin-bottom: 0;
  line-height: 24px;
}

/* sidebar */

aside.sidebar {
  margin-top: 3px;
  padding-left: 30px;
}

form.searchform {
  position: relative;
}

form.searchform #searchsubmit {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: #a61206;
  text-indent: -9999px;
  background-image: url(../img/search.png );
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form.searchform #s {
  width: 100%;
  padding: 11px;
  border-radius: 8px;
  border: 1px solid #c1c1c1
}

.sidebar .widget {
  margin-bottom: 20px;
}

.sidebar .widget h3 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.sidebar .widget ul {
  list-style: none;
}

.sidebar .widget ul li {
  margin-bottom: 20px;
}

.sidebar .widget ul li a {
  color: #000;
  text-decoration: none;
}

.sidebar .widget ul li a:hover {
  color: #f19f30;
}

/* comments */

.comment-respond h3 {
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width:768px) {
  .comments {
    width: 80%;
  }
}

@media only screen and (min-width:992px) {
  .comments {
    width: 60%;
  }
}

.comment-respond form label {
  width: 200px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
}

.comment-respond form input,
.comment-respond form textarea {
  padding: 10px;
  width: calc(100% - 220px);
  font-size: 18px;
}

.comment-respond form input[type="submit"] {
  margin: 0 auto;
  display: inline-block;
  border: none;
  width: auto;
  background-color: #a61206;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.comment-notes {
  text-align: center;
}

p.form-submit {
  text-align: center;
}

p.logged-in-as a {
  color: #a61206;
}

form.comment-form p.comment-form-url {
  display: none;
}

/* comment list */

ol.commentlist {
  list-style: none;
}

ol.commentlist li.comment {
  background-color: #ececec;
  padding: 20px;
  margin-bottom: 20px;
}

ol.commentlist li.comment cite {
  color: #a61206;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

li.comment .comment-author {
  margin-bottom: 10px;
}

li.comment a,
h3#reply-title a {
  color: #a61206;
  text-decoration: none;
}

h3#reply-title small a {
  color: #6d6b6b;
}

li.comment ul.children {
  list-style: none;
}

li.comment ul.children li {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

/* Gallery */

div[id*="gallery-"] .gallery-item {
  width: 50% !important;
  margin: 0;
  padding: 0 5px !important;
}

@media only screen and (min-width: 768px) {
  div[id*="gallery-"] .gallery-item {
    width: 25% !important;
  }
}

div[id*="gallery-"] img {
  border: none !important;
}

/* Reservation */

.reservation {
  background-image: url("../img/bg_contact.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

@media only screen and (min-width: 768px) {
  .reservation-info {
    margin-left: 50%;
  }
}

form.reservation-form h3 {
  font-weight: 700
}

form.reservation-form .field {
  margin-bottom: 20px;
  width: 100%;
}

form.reservation-form .field input,
form.reservation-form .field textarea {
  width: 100%;
  border: 3px solid #3d3d3d;
  padding: 10px;
  font-size: 18px;
}

form.reservation-form ::-webkit-input-placeholder {
  color: #000;
}

form.reservation-form :moz-placeholder {
  color: #000;
}

form.reservation-form ::moz-placeholder {
  color: #000;
}

form.reservation-form ::-ms-input-placeholder {
  color: #000;
}

form.reservation-form input[type="submit"] {
  border: none;
}

/* Front page */

.home .hero {
  height: 700px;
}

@media only screen and (max-width: 767px) {
  .home .hero-text {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width:768px) {
  .home .main-content {
    margin-top: 0;
    padding: 0;
  }
  .home .hero-text {
    width: 50%;
  }
}

@media only screen and (min-width:992px) {
  .home .hero-text {
    width: 40%;
  }
}

.home .hero-text p {
  line-height: 40px;
  font-size: 18px;
}

.specialty-content {
  position: relative;
  overflow: hidden;
  display: table;
}

.specialty-content .information {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 159, 48, 0.75);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding: 5px;
  opacity: 0;
  z-index: 3;
  transition: all .5s ease-in-out;
}

.specialty-content:hover .information {
  top: 0%;
  opacity: 1;
}

.specialty-content .information .price {
  font-size: 60px;
  font-weight: bold;
  margin: 40px 0;
}

.specialty-content .information h3 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 700;
}

.specialty-content .information p {
  margin: 10px;
  line-height: 30px
}

@media only screen and (max-width: 767px) {
  .specialty-content {
    margin: 30px auto 0 auto;
    overflow: visible;
    max-width: 435px;
  }
  .specialty-content .information {
    top: 0%;
    opacity: 1;
    background-color: rgba(223, 137, 16, 0.5);
    max-width: 435px;
  }
}

/* ingredients */

section.ingredients {
  background-image: url('../img/bg_ingredients.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-top: 50px;
  padding: 80px 0;
}

section.ingredients h3 {
  line-height: 60px;
  font-size: 40px;
  font-weight: 700;
}

section.ingredients p {
  line-height: 40px;
  font-size: 20px;
}

section.ingredients .image {
  padding-top: 30px;
  text-align: center;
}

section.ingredients .image img {
  width: 80%;
}

@media only screen and (max-width: 767px) {
  section.ingredients p,
  section.ingredients h3 {
    text-align: center;
  }
  section.ingredients a {
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
  }
}

/* Location / Reservation */

section.location-reservation {
  background-image: url('../img/bg_ingredients.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-top: 50px;
}

.home .reservation-info {
  margin: 0;
  padding: 50px 30px 50px 0;
}

.home .reservation-info input,
.home .reservation-info textarea {
  background-color: transparent;
  border: 4px solid #fff !important;
  color: #fff !important;
}

.home .reservation-info input[type='submit'] {
  border: none !important;
  background-color: #a61206;
}

.home form.reservation-form ::-webkit-input-placeholder {
  color: #fff;
}

.home form.reservation-form :moz-placeholder {
  color: #fff;
}

.home form.reservation-form ::moz-placeholder {
  color: #fff;
}

.home form.reservation-form ::-ms-input-placeholder {
  color: #fff;
}

.home form.reservation-form input[type="submit"] {
  border: none;
}

.home .reservation-form h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  margin-top: 0;
}

#map {
  height: 400px;
}